name: Packer Build

on:
  push:
   branches:
    - main
  pull_request:
    branches:
      - main

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Packer
        run: |
          sudo apt-get update -y
          sudo apt-get install -y unzip
          curl -fsSL -o packer.zip https://github.com/hashicorp/packer-plugin-amazon/archive/refs/tags/v1.8.0.zip
          unzip packer.zip
          sudo mv packer /usr/local/bin/
          packer --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "ap-south-1" # Optionally include this if you're using a specific region

      - name: Run Packer Build
        run: |
          rm -rf ~/.config/packer/plugins
          packer init aws-ubuntu.pkr.hcl
          packer validate aws-ubuntu.pkr.hcl
          packer fmt aws-ubuntu.pkr.hcl
          packer build aws-ubuntu.pkr.hcl
          
